services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: umbiomas-app
    container_name: umbiomas-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - umbiomas-network

  webserver:
    image: nginx:alpine
    container_name: umbiomas-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - umbiomas-network

  db:
    image: mysql:8.0
    container_name: umbiomas-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - umbiomas-network

networks:
  umbiomas-network:
    driver: bridge

volumes:
  dbdata:
    driver: local
